<!DOCTYPE html>
<html>
  <head>
    <title><%="99 Cats"%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="text-align: center">99 Cats</h1>
    <%= yield %>
  </body>
</html>
